<!-- <li id="review-<%= review.id %>"> -->

  <!-- <span class="user">1<%= link_to review.user.name, review.user %></span>
  <span class="content"><%= review.userreview %></span>
  <span class="content"><%= review.product.productname %></span> -->
